<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatterApp</title>
</head>

<body>
    <header>
    </header>

    <article>
        <section>
            <h1>ChatterApp</h1>
            <%= render 'form' %>
            <p><%= notice %></p>
        </section>
    </article>

<hr>

    <article>
        <section>
            <% @chatters.each do |chatter| %>
                <div>
                    <%= chatter.content %>
                </div>
                <div class="edit_botton">
                    <%= link_to '編集', edit_chatter_path(chatter.id) %>
                </div>
                <div class="edit_botton">
                    <%= link_to '削除', chatter_path(chatter.id), method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
                </div>
            <% end %>
        </section>
    </article>

    <footer>
    </footer>

</body>
</html>